<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" type="text/css" href="css/base/base.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/common.css" media="screen" />
    <title>沧浪之水-blog</title>
</head>

<body id="top">
<!-- <audio style="display: none;" src="audio/Flower Dance.mp3" controls="controls" autoplay loop>
    Your browser does not support the audio element.
</audio> -->
<div id="layout_wrapper">
<div id="layout_wrapper2">
<div id="layout_wrapper3">
<div id="layout_wrapper4">
    <div id="header_wrapper">
        <div id="header">
            <div id="site_title">
                <h1><a href="#">沧浪之水</a></h1>
                <h2><!-- 男儿不展风云志，空负天生八尺躯。 -->“沧浪之水清兮，可以濯吾缨；沧浪之水浊兮，可以濯吾足”</h2>
            </div>
        </div>
    </div>
    <div id="navigation">
        <div id="nav">
            <ul class="tabbed">
                <li class="current_page_item"><a href="/index">首页</a></li>
                <li><a href="/leg">博客专栏</a></li>
                <li><a href="style_demo.html">博客专家</a></li>
                <li><a href="archives.html">排行榜</a></li>
                <li><a href="empty_page.html">我的博客</a></li>
            </ul>
            <div class="clearer">&nbsp;</div>
        </div>
        <div id="subnav">
            <ul class="tabbed">
                <li class="current_page_item"><a target="_blank" href="http://blog.csdn.net/">CSDN互连...</a></li>
                <li class="current_page_item"><a target="_blank" href="http://www.cnblogs.com/">博客园...</a></li>
                <li class="current_page_item"><a target="_blank" href="http://blog.163.com/">网易博客...</a></li>
                <li class="current_page_item"><a target="_blank" href="http://daily.zhihu.com/">知乎日报...</a></li>
                <li class="current_page_item"><a target="_blank" href="http://www.toutiao.com/">今日头条...</a></li>
            </ul>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    <div id="main_wrapper">
        <div id="main">