<%- include header %>  
<div id="registerBox">  
  用户名：  <input id="username" type="text" name="username"/><br />  
  密码：    <input id="password" type="password" name="password"/><br />  
  确认密码：<input id="repassword" type="password" name="repassword"/><br />  
          	<button id="btn">注册</button>
           <p id="tip"></p> 
</div>  
<%- include footer %>